<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>이형근</title>
    <link rel="stylesheet" href="/css/profile.css"/>
</head>
<body>
    <!-- wrap -->
    <div id="contents">
        <!-- 프로필 -->
        <div class="profile-top-card top-card">
            <div class="profile-card">
                <div class="profile-picture">
                    <img src="http://netease.azurewebsites.net/Contents/images/leehyunggeun.jpeg" width="80" height="80" alt="이형근">
                </div>
                <div class="profile-overview">
                    <div class="profile-overview-content">
                        <div>
                            <div>
                                <h1>
                            <span>
                                <span class="full-name">이형근 (LeeHyungGeun)</span>
                            </span>
                                </h1>
                            </div>
                            <div>
                                <div class="editable-item">
                                    <p class="title">Web Programmer - <a href="http://www.wizcoz.com/">WIZCOZ</a></p>
                                </div>
                            </div>
                            <div class="line">
                                <dt>이름</dt>
                                <dd>
                                    <span>
                                        이형근
                                    </span>
                                </dd>
                            </div>
                            <div class="line">
                                <dt>나이</dt>
                                <dd>
                                    <span>
                                        28세(1987년08월07일)
                                    </span>
                                </dd>
                            </div>
                            <div class="line">
                                <dt>직장</dt>
                                <dd>
                                    <span>
                                        WIZCOZ(2012년04월 ~ 현재)
                                    </span>
                                </dd>
                            </div>
                            <div class="line">
                                <dt>학력</dt>
                                <dd>
                                    <span>
                                        광운대학교 대학원 교육용게임개발전공(석사)
                                    </span>
                                </dd>
                            </div>
                            <div class="line">
                                <dt>지역</dt>
                                <dd>
                                    <span>
                                        대한민국 서울
                                    </span>
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //프로필 -->
        <!-- 상세내용 -->
        <div class="content">
            <span class="subtitle">소개</span>
            <p class="intro_text">
                &nbsp;&nbsp;새로운 기술에 관심이 많습니다. 처음에는 Silverlight로 시작을 했지만 ASP.NET을 타고 Node.js까지 관심 영역을 옮겨왔습니다. 현재는 Front-end의 중요성을
                느끼고 자바스크립트에 관심이 많아 졌습니다. 그리고 웹 개발을 위해서는 SPA(Single Page App)를 위한 프레임워크의 필요성을 느껴 여러 프레임워크를 써보았지
                만 AngularJS만한 것이 없다고 생각합니다. AngularJS의 장점으로는 FULL Stack SPA Framework일 뿐만 아니라, $scope 서비스, directive 서비스 등의 특징이 있고 현재는
                AngularJS UI가 나왔으며 모바일 쪽에서도 많은 라이브러리 들이 추가로 개발되고 있습니다.<br/>
                &nbsp;&nbsp;SNS 시대는 혼자 개발하는 시대가 아닙니다. 누구나 좋은 아이디를 공유하고 Github에 올리며 발전하는 것입니다. 나와 맞는 생각이 있는 사람과 중요하다고 생각합니다.
                만약 윤영식 선생님과 같이 개발을 해볼 수 있다면 저에게 엄청난 발전이 될거라고 생각합니다. 왜냐하면 윤영식 선생님이 MEAN Stack 오픈소스에 관심을 가졌듯이 저도 2013년 논문을 쓸
                때부터 서버사이드, 클라이언트사이드, 데이터베이스이 3-tier를 모두 자바스크립트로 개발해야 한다고 생각을 했기 때문입니다.<br/>
                &nbsp;&nbsp;하루에 일을 하는데 보내는 시간이 대부분이라고 생각합니다. 그렇기 때문에 나와 많은 부분을 공유할 수 있고 비슷한 사람과 일을 한다는 것은 큰 행복이라고 생각합니다.
                저는 여행과 독서를 좋아하며 건강한 삶을 추구합니다. 이번 기회에 제 컴포넌트를 키워보고 싶습니다.
            </p>
            <span class="subtitle">간단한 프로필</span>
            <p class="intro_text">
                <b>Web Developer</b><br/>
                - Database (MS-SQL)<br/>
                - Server side (ASP.NET 4.0, MVC3, MVC4)<br/>
                - Client side (jQuery, UnderscoreJS, KnockoutJS, JsRender, Twitter Bootstrap, KendoUI, WijmoUI)<br/>
                - for 2 years in WICOZ<br/>
            </p>
            <span class="subtitle">경력 사항</span>
            <p class="intro_text">
                <b>WIZCOZ</b><br/>
                2012년 04월 ~ 현재<br/>
                - 개발사이트<br/>
                Wizwell Mobile: <a target="_blank" href="http://m.wizwell.co.kr">http://m.wizwell.co.kr</a> (메인으로 전체 개발)<br/>
                기간: 2014년 01월 ~ 2014년 03월(기획:1개월, 디자인:1개월, 프로그래밍:1개월)<br/>
                - Server side: ASP.NET 4.0, MVC4, SignalR<br/>
                - Client side: jQuery, jQueryMobile, jQueryUI, UnderscoreJS<br/>
                - Database: MS-SQL<br/>
                AmazingCut: <a target="_blank" href="http://www.amazingcut.co.kr">http://www.amazingcut.co.kr</a> (메인으로 전체 개발)<br/>
                기간: 2013년 05월(기획:1주, 디자인:1주, 프로그래밍:1주)<br/>
                - Server side: ASP.NET 4.0, MVC3<br/>
                - Client side: jQuery, jQueryUI, KendoUI<br/>
                - Database: MS-SQL<br/>
                CalorieSafe: <a target="_blank" href="http://www.caloriesafe.com">http://www.caloriesafe.com</a> (메인으로 전체 개발)<br/>
                기간: 2013년 01월 ~ 2013년 04월(기획:1개월, 디자인:1개월, 프로그래밍:2개월)<br/>
                - Server side: ASP.NET 4.0, MVC3<br/>
                - Client side: jQuery, jQueryUI, UnderscoreJS, KendoUI, WijmoUI, Twitter Bootstrap<br/>
                - Database: MS-SQL<br/>
                SKIN79 Brand: <a target="_blank" href="http://www.skin79.com">http://www.skin79.com</a> (서브로 왼쪽 메뉴 BRAND, GLOBAL, PR, Shopping 부분 개발)<br/>
                기간: 2012년 09월 ~ 2012년 12월(기획:2개월, 디자인:2개월, 프로그래밍:2개월)<br/>
                - Server side: ASP.NET 4.0, MVC3<br/>
                - Client side: jQuery<br/>
                - Database: MS-SQL<br/>
                SKIN79: <a target="_blank" href="http://www.skin79mall.com">http://www.skin79mall.com</a> (유지보수 및 관리자 개발)<br/>
                기간: 2012년 04월 ~ 2012년 08월(기획:3개월, 디자인:3개월, 프로그래밍:5개월)<br/>
                - Server side: ASP.NET 4.0, MVC3<br/>
                - Client side: jQuery, jQueryUI, KnockoutJS, JsRender<br/>
                - Database: MS-SQL<br/>
            </p>
            <span class="subtitle">프로젝트</span>
            <p class="intro_text">
                중국회사(163.com) 면접 프로젝트<br/>
                기간: 2013년 10월(1주)<br/>
                주소: <a target="_blank" href="http://netease.azurewebsites.net">http://netease.azurewebsites.net</a><br/>
                소개: 163.com 에 취업을 하고자 1주일간 개발<br/>
                기술:<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;호스팅: Windows Azure IIS 8.0<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;서버 사이드: Node.js, Express 3.0<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;클라이언트 사이드: AngualrJS<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;데이터에비스: MongoDB<br/>
            </p>
            <span class="subtitle">보유 기술 & 전문 분야</span>
            <p class="intro_text">
                Top 5 순위<br/>
                1. ASP.NET<br/>
                2. JavaScript<br/>
                3. Node.js<br/>
                4. MS-SQL<br/>
                5. MongoDB<br/>
            </p>
            <span class="subtitle">학력 사항</span>
            <p class="intro_text">
                학교: Kwanwoon University<br/>
                전공: Education Games 석사<br/>
                논문: Node.js를 활용한 웹 성능 분석<br/>
                소개: (Node.js + Express 3.0 + MongoDB)와 (ASp.NET4.0, SignalR2.0, MS-SQL)의 CRUD(Create, Read, Update, Delete)의 성능분석에 대한 논문을<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;썼습니다. 앞의 (Node.js + Express 3.0 + MongoDB)가 뒤의 (ASP.NET4.0, SignalR2.0, MS-SQL)보다 평균적으로 7배 가까이 빨랏습니다.<br/>
                기간: 2008 ~ 2013<br/>
                학교: Seoul Hoseo Colleague<br/>
                전공: Game Development (Multimedia 학사)<br/>
                기간: 2006 ~ 2008<br/>
                소개: 게임프로그래밍에 관련된, C, C++, DirectX 및 포토샵, 일러스트레이터, 사운드 포지 등에 대해 배웠습니다.<br/>
            </p>
            <span class="subtitle">관심 분야</span>
            <p class="intro_text">
                1. SPA(Single Page App)<br/>
                2. Node.js: <a target="_blank" href="http://nodejs.org/">http://nodejs.org/</a><br/>
                3. AngularJS: <a target="_blank" href="http://www.angularjs.org/">http://www.angularjs.org/</a><br/>
                4. MEAN: <a target="_blank" href="http://www.mean.io/">http://www.mean.io/</a><br/>
                5. MongoDB: <a target="_blank" href="http://www.mongodb.org/">http://www.mongodb.org/</a><br/>
            </p>
            <span class="subtitle">추천서</span>
            <p class="intro_text">
                1. 자바스크립트 완벽가이드, 저:데이비드 플래너건<br/>
                2. 더글라스 크락포드의 자바스크립트 핵심가이드, 저:더글라스 크락포드<br/>
                3. 함수형 자바스크립트 - 새롭고 올바른 자바스크립트 프로그래밍 기법, 저:마이클 포거스<br/>
                4. 자바스크립트 코딩 기법과 핵심 패턴, 저: 스토얀 스테파노프<br/>
                5. 제대로 배우는 node.js 프로그래밍, 저:셀리 파워즈<br/>
            </p>
            <span class="subtitle">읽고싶은 도서</span>
            <p class="intro_text">
                1. Data Structure and algorithm, 저:Mark A. Weiss<br/>
                2. TCP/IP Illustrated, Vol. 1: The Protocols (Addison-Wesley Professional Computing Series), 저: W. Richard Stevens<br/>
                3. HTTP: The Definitive Guide (Definitive Guides), 저: David Gourley<br/>
                4. A First Course in Database System (3rd Edition), 저: Jeffrey D. Ullman<br/>
                5. Structure and Interpretation of Computer Programs - 2nd Edition (MIT Electrical Engineering and Computer Science, 저: Harold Abelson<br/>
            </p>
            <span class="subtitle">참관한 컨퍼런스</span>
            <p class="intro_text">
                제목: huJs 2012<br/>
                일시: 2012년09월10일 ~ 2012년09월12일<br/>
                장소: 중국 상하이<br/>
                내용: 중국에서 열린 첫 번째 자바스크립트 컨퍼런스<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KnockoutJS의 개발자 Steven Sanderson, Nodejitsu의 Co-Founder & CEO인 Charile Robbins, 163.com의 Charlie Crane등을 만나봤고 지금도 교
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;류를 하고 있습니다.
            </p>
            <span class="subtitle">교육 과정</span>
            <p class="intro_text">
                1. 게임프로그램개발 과정(6개월), 삼성 SDS<br/>
                2. Silverlight 개발 과정(6개월), KOSTA<br/>
                3. Windows 8 MetroUI App 프로그래밍(5일), KOSTA<br/>
                4. ASp.NET MVC 4/web Platform프로그래밍(5일), KOSTA<br/>
                5. ASp.NET SignalR Real-Time/Websocket(5일), KOSTA<br/>
                6. javascript framework & C# 웹 개발자(5일), KOSTA<br/>
                7. Single Page Application with Meteor.js and MongoDB(5일), KOSTA<br/>
                8. Node.js + MongoDB개발자 프로그래밍(14일), KOSTA<br/>
                9. Node.js + MongoDB개발자 프로그래밍(5일), KOSTA<br/>
                10. Node.js + MongoDB개발자 프로그래밍(14일), KOSTA<br/>
                11. BigData MongoDB(NoSQL) + Mongoos 프로그래밍(5일), KOSTA<br/>
                12. BigData MongoDB(NoSQL) + Mongoos 프로그래밍(14일), KOSTA<br/>
                13. Node.js, MongoDB, and Backbone/AngularJS/Ember MVC WebApp(5일), KOSTA<br/>
                14. Building Web Apps with ASp.NET MVC4(5일), KOSTA<br/>
                15. Node.js + MongoDB개발자 프로그래밍(5일), KOSTA<br/>
                16. 자바스크립트 기초부터 jQuery까지(14일), KOSTA<br/>
                17. Single Page Application with Meteor.js and Node.js+MongoDB(5일), KOSTA<br/>
                18. BigData MongoDB(NoSQL) + Mongoose 프로그래밍(14일), KOSTA<br/>
                19. BigDataMongoDB(NoSQL) + Mongoos / socket.io realTime(5일), KOSTA<br/>
                20. Visual Studio2013 javascript design pattern(5일), KOSTA<br/>
                21. 자바스크립트 & 개발패턴(5일), KOSTA<br/>
                22. HTML5 - UX & 기술(14일), KOSTA<br/>
            </p>
        </div>
    <!-- //상세내용 -->
    </div>
    <!-- //wrap -->
</body>
</html>